* {
  border: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: #d5e1ef;
}

.card{
    margin-top:5%;
}
.card-img-top {
  border-radius: 25px !important;
}

h5 {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  hiiiiiiiiiiiiiii
  font-size: larger;
  text-align: center;
  color: #0f2659;
}
p {
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  text-align: center;
  color: #a0a2ae;
}

.attribution{
  display:flex;
  hie how r u
  justify-content:flex-end;
}
