body, html {
  background-color: #d5e1ef;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  text-align: center;
}

.card {
  max-width: 18rem;
}

.attribution {
  position: absolute;
  bottom: 10px;
  left: 10px;
  
}


h5 {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 20px;
  text-align: center;
  color: #0f2659;
}
p {
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  text-align: center;
  color: #a0a2ae;
}


